@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Roads</h1>
    <p>
        <img width="950" height="450" src="https://wallpaperaccess.com/full/2200234.jpg" />
    </p>
</div>
