body {
    background-image: url(/Images/MBanner4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: page;
    color: white;

}

.display-4 {
    font-size: 6.0rem;
    font-weight: 300;
    line-height: 1.2;
}

/*All----------------------*/
/*Index*/
.TIndex {
    background-color: white;
}

.TContainer {
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
}

.TPart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.TButt {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: space-between
}

/*Details*/

#deets {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#deetBody {
    display: flex   !important;
    flex-direction: row          !important;
}


/*Events-------------------*/
.EBan {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 520px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/Images/S15Banner.jpg);
    background-position: center;
}

#eBanText {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.Addy {
    display: flex;
    flex-direction: column;
}

/*Cars-------------------*/
.CBan {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 520px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/Images/BimmerBanner.jpg);
    background-position: top;
}

#cBanText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

/*Parts-------------------*/
.PBan {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 520px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/Images/HuracanBanner.jpg);
    background-position: top;
}

#pBanText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}