@model Roads.Models.Event

@{
    ViewData["Title"] = "Delete";
}


<div id="deets">
    <image class="DeetTitle" src="@Html.DisplayFor(model => model.ImagePath)" alt="Product Image Unavailable" width="520" height="450" />
    <h3 class="DeetTitle">Are you sure you want to delete @Html.DisplayFor(model => model.Name) in @Html.DisplayFor(model => model.City)?</h3>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
